# ======================================
# Base style
# ======================================
BasedOnStyle: LLVM

# ======================================
# Indentation
# ======================================
IndentWidth: 4
TabWidth: 4
UseTab: Never

# ======================================
# Visual Studio XML Doc Comment 保護
# ======================================
ReflowComments: false
CommentPragmas: '^///'
AlignTrailingComments: false
SpacesBeforeTrailingComments: 1
KeepEmptyLinesAtTheStartOfBlocks: true

# ======================================
# Includes
# ======================================
SortIncludes: false

# ======================================
# Spacing
# ======================================
SpaceAfterCStyleCast: true
SpacesInAngles: false
SpacesInContainerLiterals: true
SpacesInCStyleCastParentheses: false

# ======================================
# Brace / Formatting
# ======================================
BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false